/**
 * @file
 * Wireframes Styling
 *
 * Add wireframes to the basic layout elements.
 */
/*creates subtle dropshadow on text */
/*
.myButton {
    
    -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
    -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
    box-shadow:inset 0px 39px 0px -24px #e67a73;
    
    background-color:#e4685d;
    
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    
    border:1px solid #ffffff;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:normal;
    padding:6px 15px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #b23e35;
    
}
.myButton:hover {
    
    background-color:#eb675e;
}
.myButton:active {
    position:relative;
    top:1px;
}
*/
/* easy-ease-in transition animation*/
/* Mixin for REM with fallback (Karl Merkli)

For formatting and usage see:
http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/

*/
/* line 19, ../sass/wireframes.scss */
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}
