//
// "base" partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This base partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we import a _custom.scss partial that includes our custom mixins.
//


//
// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// To turn on support for IE6 or IE7, set those variables to true.
//
// Zen does not require special handling for IE8 or later. But Compass uses that
// variable for a couple edge cases. We include it for completeness sake. See
// the documentation at http://compass-style.org/reference/compass/support/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;


//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.75 * $base-font-size;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.

@font-face {
  font-family: 'Balthazar';
  font-style: normal;
  font-weight: 400;
  src: local('Balthazar Regular'), local('Balthazar-Regular'), url(http://themes.googleusercontent.com/static/fonts/balthazar/v2/E9s_OrHc1N8XyvXr2y-jyrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$century-gothic:  "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$balthazar:       Balthazar, "Copperplate Gothic Bold", "Times New Roman", Georgia, "DejaVu Serif", serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $verdana; // The font family set on the html element.
$font-body:        $verdana;
$font-heading:     $century-gothic;
$font-monospace:   $courier;



//
// Main Colors, etc.
$logo-green: #00a290;
$city-blue: #194f84;
$city-green: #036f63; //from mockups, slightly darker than logo green
$link-green: #3f8000; //used in search results

//Greys
$light-grey: #f5f5f5;
$med-grey: #666;
$dark-grey: #333;
$line-grey: #ccc;
$rich-black: #222;

//warnings
$error-red: #E74C3C;
$success-green: #26AA5E;
$warning-yellow:#edd207;


//Overall Color Variables (Those used on the site)
$main-spot: $city-blue;
$button-spot: $med-grey;
$link-spot: $link-green;


$color-1: #69511a;
$color-2: #345420;
$color-3: #1d2747;
$color-4: #990000;
$color-5: #565656;
$color-6: #3a5078;


//

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;


//
// Partials to be shared with all .scss files.
//

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";              // Add the Zen Grids responsive layout mixins.
@import "compass/css3/transform";
@import "custom";           // Import our custom mixins last.
