/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}

#page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  @include box-shadow(rgba(black, 0.5) 1px 1px 15px 0);  
  @media only screen and (min-width: 1200px){ // header-box media queries
    width: 1200px;
  }
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */
 
//defaults

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    text-decoration: none;
  }

  a:hover,
  a:focus {
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}


header{
   padding: 2em 2em 1em;
   text-align: center;
   background-color: $light-grey;
   margin-bottom: 0;
   position: relative;
   #logo, #name-and-slogan{
     float: none;
   }

   #logo{
     padding-right: 150px;
   }
   #site-name{
     color: $city-blue;

     font-size: 2.5em;
     line-height: .5;
     padding-bottom: 1.5em;
     font-weight: 100;
   }

   .subtitle{
     display: none;
   }

   @media only screen and (min-width: 768px){ // header media queries

     text-align: left;
     padding: 2em 3em 55px !important;
     border-bottom: 1px solid $line-grey;

     #site-name{
       padding-bottom: 0;
     }

     #logo{
       padding-right: 0;
       float: left;
     }

     hgroup{
       float: left;
       margin-top: 45px;
       position: relative;

       #site-name{
         display: inline-block;
         padding-left: 20px;
       } //site-name

       .subtitle{
         display: block;
         color: $color-4;
         position: absolute;
         top: 10px;
         left: 20px;
       }

     } //hgroup

   }// end media queries

 }// header

 .header-box{
     width: 205px;
     margin: 0 auto;
     clear: both;
  
     #search-bar{ 
       position: relative;
       overflow: auto;
         label{
           @include hide-text;
           line-height: 0;
         }
         input{
           @include border-box;
           margin: 15px 5px 1em 0px;
           width: 100%;
           padding: .55em 45px .55em 1em; 
           float: left;
           display: inline-block;
           &:focus{
           }
         }
         .search-btn{
             display: inline-block;
             background-color: $city-green;
             height: 34px;
             width:35px;
             @include hide-text;
             display: inline-block;
             @extend .icons-search;
             position: absolute;
             bottom: 14px;
             right: 0;
             margin: 1em 0 0;
             @include border-box;
             padding: .5em;

             &:hover, &:active, {

               @extend .icons-search;
               background-color: lighten($city-green, 5%);

           }
         }//search-btn
       }//search
       
       @media only screen and (min-width: 480px){
         width: 300px;
       } 

       @media only screen and (min-width: 768px){ // header-box media queries
       position: absolute; // based on parent (header) set to relative
       top: 55px;
       right: 3em;
       text-align: right;
       width: 250px;
       
      }
      
      @media only screen and (min-width: 960px){ // header-box media queries
       width: 400px;

       #search-bar{
           input{
             width: 80%;
             display: inline-block;
             margin-left: 3px;
           }
           .search-btn{
             padding: .5em 2em;
             background-position: top center;
             &:hover{
               background-position: top center; 
             }
           }
       }//search-bar
       }//mediaqueries
  
   }//header-box


#logo { /* Wrapping link for logo */
  float: left;
  margin: 0;
  padding: 0;
}



/*
 * Main (container for everything else)
 */

#main {
  padding: 2em .5em;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  
    h1{
      text-align: center;
    }
    
    h1, h2, h3, h4, h5, h6{
      display: block;
      clear: both;
    }
    #page-title{
      text-transform: capitalize;
      margin-bottom: .5em;
    }
    
    ul li { /* Drupal override */
      margin: 0;
      list-style-image: url(../images/icons/bullet.png);
    }
    
    .tabs li, .status ul li{ //fixes and prevents bullet image on status messages and in edit tabs
      list-style-image: none; 
    } 
    
    img {
      display: block;
      margin: 1em 0; 
      
      @include box-shadow(rgba(black, 0.2) 0 1px 5px 0);  
      
      @media only screen and (min-width: 768px){ // main media queries
        margin: 0 2em 1em 0;
        float: left;
      }
    }
    
  @media only screen and (min-width: 768px){ // main media queries
    padding: 2em 3em;
    
    h1{
      text-align: left; 
    }
  }//mediaqueries 
  
}// #main

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
  line-height: 1.2;
}

table{
  margin: 2em 0;
  @include rem-fallback(font-size, 0.857); // 12px
  @media only screen and (min-width: 768px){ //  media queries
    @include rem-fallback(font-size, 1); // 14px
  
  }
}

td{
  padding: .5em;
  @media only screen and (min-width: 768px){ //  media queries
    padding: .7em 1em .5em 1em;  
  }
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0;
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
  
  background-color: $dark-grey;
  color: $line-grey;
  text-align: center;
  padding: 2em 0 0 !important; /*overrides zen responsive gutters*/

  p, address{
    font-style: normal;
    @include rem-fallback(font-size, 0.857); 
    margin: 0; 
    line-height: 1.4;
  }
  p{
    margin-top: 1em;
  }

  
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}
